/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2017, 8:17:51 PM
    Author     : guohuinan
*/

h1{text-align:center;background-color: #F08080; border: 1px solid white;padding:25px;}
body {background-color: #D2B48C;}
table {border-collapse: collapse; width: 100%; text-align: center;}
table, th, td {border: 2px solid white;padding:15px;}
th {background-color: #FFFF99; color: #696969; height: 50px; vertical-align: bottom;  text-align: left;}
table tr:hover td{background-color: #CCCCCC;}
td {background: #F08080; color: #FFFFFF; height: 30px; vertical-align: bottom; text-align: left;}
tr:nth-child(even) td{background-color: #EDEDED;}
label {display: inline-table; width: 60px;color:#696969;padding:20px;}



input[type=text] {padding: 12px 20px; margin: 8px 0; box-sizing: border-box;}
